
<p>A Caliper <code>Notice</code> entity represents a notable remark or alert that a user, or system, sends to another user to draw their attention to an important matter.</p>

<p>A <code>Notice</code> consists of the data of a notable remark to send; it can be dispatched to more than one user. When dispatched to a user, it must be contained within a <a href="#Notification">Notification</a>" envelope.</p>


<p>A Caliper <code>ResearchContext</code> entity identifies the educational research context within which a notification occurs, allowing for subsequent collation of all notification event data that pertains to the context.</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="ResearchContext">http://purl.imsglobal.org/caliper/ResearchContext</a></dd>
    <dt>Term</dt>
    <dd>ResearchContext</dd>
    <dt>Supertype</dt>
    <dd><a href="https://www.imsglobal.org/spec/caliper/v1p2#entity">Entity</a></dd>
    <dt>Properties</dt>
    <dd><code>ResearchContext</code> inherits all properties defined by its supertype
        <a href="https://www.imsglobal.org/spec/caliper/v1p2#entity">Entity</a>, of which <code>id</code> and <code>type</code> are required.
        Additional type restrictions are described below:
    </dd>
</dl>

<table>
    <thead>
        <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Description</th>
            <th>Disposition</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>type</td>
            <td><a href="https://www.imsglobal.org/spec/caliper/v1p2#termDef">Term</a></td>
            <td>The string value MUST be set to the <a href="https://www.imsglobal.org/spec/caliper/v1p2#termDef">Term</a> <em>ResearchContext</em>.</td>
            <td>Required</td>
        </tr>
    </tbody>
</table>
