
<p>A Caliper <code>Notice</code> entity represents a notable remark or alert that a user, or system, sends to another user to draw their attention to an important matter.</p>

<p>A <code>Notice</code> consists of the data of a notable remark to send; it can be dispatched to more than one user. When dispatched to a user, it must be contained within a <a href="#Notification">Notification</a>" envelope.</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="#Notice">http://purl.imsglobal.org/caliper/Notice</a></dd>
    <dt>Term</dt>
    <dd>Notice</dd>
    <dt>Supertype</dt>
    <dd><a href="https://www.imsglobal.org/spec/caliper/v1p2#entity">Entity</a></dd>
    <dt>Properties</dt>
    <dd><code>Notice</code> inherits all properties defined by its supertype
        <a href="https://www.imsglobal.org/spec/caliper/v1p2#entity">Entity</a>, of which <code>id</code> and <code>type</code> are required.
        Additional type restrictions are described below:
    </dd>
</dl>

<table>
    <thead>
        <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Description</th>
            <th>Disposition</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>type</td>
            <td><a href="https://www.imsglobal.org/spec/caliper/v1p2#termDef">Term</a></td>
            <td>The string value MUST be set to the <a href="https://www.imsglobal.org/spec/caliper/v1p2#termDef">Term</a> <em>Notice</em>.</td>
            <td>Required</td>
        </tr>
        <tr>
            <td>body</td>
            <td>string</td>
            <td>The plain-text content of the notice.</td>
            <td>Required</td>
        </tr>
        <tr>
            <td>creators</td>
            <td>Array</td>
            <td>An ordered collection of <a href="https://www.imsglobal.org/spec/caliper/v1p2#agent">Agent</a> entities that created this notice. Each array item MUST be expressed either as an object or as a string corresponding to the object's <a href="https://www.imsglobal.org/spec/caliper/v1p2#iriDef">IRI</a>.
            </td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>isPartOf</td>
            <td> <a href="#ResearchContext">ResearchContext</a> |
                 <a href="https://www.imsglobal.org/spec/caliper/v1p2#iriDef">IRI</a>
            </td>
            <td>The <code>ResearchContext</code> describing the experimental condition or intervention that comprises this notification. The <code>isPartOf</code> value MUST be expressed either as an object or as a string corresponding to the object's <a href="https://www.imsglobal.org/spec/caliper/v1p2#iriDef">IRI</a>.</td>
            <td>Optional</td>
        </tr>
        <tr>
            <td>name</td>
            <td>string</td>
            <td>The plain-text content of the notice's subject.</td>
            <td>Optional</td>
        </tr>
    </tbody>
</table>